.im-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  border: solid salmon ;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: sandybrown;
}

.chatroom-page-container {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
}

.chatroom-list {
  border: solid red;
}

.chatroom-page {
  border: solid red;
  width: max-content;
}

.chatroom {
  border: solid blue
}