.im-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  border: solid salmon ;
}

.sidebar {
  border: solid rgb(0, 255, 13);
  display: flex;
  flex-direction: column;
  background-color: sandybrown;
  z-index: 1;
  height: 100%;
  padding-top: 16px;
}

.chatroom-page-container {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
}

.chatroom-list {
  border: solid red;
}

.chatroom-page {
  border: solid red;
  width: max-content;
}

.chatroom {
  border: solid blue
}
/* 
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgb(237, 212, 190);
  overflow-x: hidden;
  padding-top: 16px;
} */